-f /usr/share/pip-wheels
annotator==0.14.2
click==6.6
Django==5.2.16
django-cors-headers==3.10.1
django-filter==21.1
django-registration-redux==2.13
django-taggit==4.0.0
django-taggit-serializer==0.1.7
djangorestframework==3.15.1
djangorestframework-jwt==1.11.0
iso8601==0.1.11
MarkupSafe==0.23
mysqlclient==2.1.1
PyJWT==1.7.1
python-dateutil==2.6.0
pytz==2026.1.post1
regex==2016.12.27
requests==2.33.1
six==1.10.0
