<!DOCTYPE html>
<html>
    <head>
        <title>Dislocation report</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>Combined dislocation report</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Paragraphs</th>
                        <th>Sentences</th>
                        <th>Questions</th>
                        <th>ld</th>
                        <th>CLLD</th>
                        <th>Complex inversion</th>
                        <th>Contrastive topics</th>
                        <th>With <i>pour</i></th>
                        <th>With <i>quant</i></th>
                        <th>Conjoined NPs</th>
                        <th>With <i>même</i></th>
                        <th>rd</th>
                        <th>rd interr</th>
                        <th>rd ci</th>
                        <th>rd ct</th>
                        <th>rd dem</th>
                        <th>rd pour</th>
                        <th>rd quant</th>
                        <th>rd conjoined</th>
                        <th>rd même</th>
                    </tr>
                </thead>
                <tbody>
                {% for tdata in texts|dictsort:'text_name' %}
                <tr>
                    <td>
                        <a href="/stage?uri={{ tdata.uri }}" target="_blank">{{ tdata.text_name }}</a>
                    </td>
                    <td>{{ tdata.text_name }}</td>
                    <td>{{ tdata.numpara }}</td>
                    <td>{{ tdata.sentences }}</td>
                    <td>{{ tdata.questions }}</td>
                    <td>{{ tdata.tcountu.ld|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.clld|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.ci|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.ct|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.dem|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.pour|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.quant|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.conjoined|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.ld.meme|default_if_none:0 }}</td>
                    <td>{{ tdata.tcountu.rd|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.interr|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.clld|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.ci|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.ct|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.dem|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.pour|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.quant|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.conjoined|default_if_none:0 }}</td>
                    <td>{{ tdata.position_count.rd.meme|default_if_none:0 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>Totals by tag:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Corpus</th>
                        <th>Position</th>
                        <th>Statistic</th>
                        <th>Sentences</th>
                        <th>Questions</th>
                        <th>All quasi-dislocated</th>
                        {% for tag_name in tally_tags %}
                        <th>{{ tag_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for corpus in corpora %}
                        {% for position in positions %}
                    <tr>
                        <th>{{ corpus }}</th>
                        <th>{{ position }}</th>
                        <th>Total count</th>
                        <td>{{ sentences|get_item:corpus }}</td>
                        <td>{{ questions|get_item:corpus }}</td>
                        <td>{{ tag_total_count|get_item:corpus|get_item:position|get_item:position }}</td>
                        {% for tag_name in tally_tags %}
                        <td>{{ tag_total_count|get_item:corpus|get_item:position|get_item:tag_name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>{{ corpus }}</th>
                        <th>{{ position }}</th>
                        <th>Average percent</th>
                        <td></td>
                        <td></td>
                        <td>{{ tag_avg_percent|get_item:corpus|get_item:position|get_item:position|percent }}</td>
                        {% for tag_name in tally_tags %}
                        <td>{{ tag_avg_percent|get_item:corpus|get_item:position|get_item:tag_name|percent }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                        {% for position in positions %}
                    <tr>
                        <th></th>
                        <th>{{ position }}</th>
                        <th>t-test</th>
                        <td></td>
                        <td></td>
                        <td>{{ tag_ttest|get_item:position|get_item:position|places_5 }}</td>
                        {% for tag_name in tally_tags %}
                        <td>{{ tag_ttest|get_item:position|get_item:tag_name|places_5 }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th></th>
                        <th>{{ position }}</th>
                        <th>Cohen's <i>d</i></th>
                        <td></td>
                        <td></td>
                        <td>{{ tag_es|get_item:position|get_item:position|places_5 }}</td>
                        {% for tag_name in tally_tags %}
                        <td>{{ tag_es|get_item:position|get_item:tag_name|places_5 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Totals by tag list:</p>
            <ul>
                {% for tlist, tco in tlcount %}
                <li>{{ tlist }}. {{ tco }}</li>
                {% endfor %}
            </ul>
            <p>Annotations:</p>
            <ul>
                {% for aid, anno in annod %}
                <li>{{ aid }}. {{ anno }}</li>
                {% endfor %}
            </ul>
            <p>Debugging:</p>
            <p>{{ tag_es }}</p>
           <script src="/static/js/bootstrap.min.js" />
        </div>
    </body>
</html>