<!DOCTYPE html>
<html>
    <head>
        <title>Dislocation report</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>Dislocation report</h1>
            <h2>{{ text_name }}</h2>
            <p>There are {{ annos|length }} annotations.</p>
            <p>
                There are {{ sentences }} sentences (including {{ questions }}
                questions) in {{ numpara }} paragraphs in the
                <b>{{ cclass }}</b> div.
            </p>
            <p>Totals by character:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Paragraphs</th>
                        <th>Sentences</th>
                        <th>Questions</th>
                        <th>ld</th>
                        <th>ld interr</th>
                        <th>rd</th>
                        <th>rd interr</th>
                    </tr>
                </thead>
                <tbody>
                {% for cid, cdata in char %}
                <tr>
                    <td>{{ cid }}</td>
                    <td>{{ cdata.name }}</td>
                    <td>{{ cdata.paras }}</td>
                    <td>{{ cdata.sents }}</td>
                    <td>{{ cdata.questions }}</td>
                    <td>{{ cdata.tcount.ld|default_if_none:0 }}</td>
                    <td>{{ cdata.tlcount|get_item:'interr ld'|default_if_none:0 }}</td>
                    <td>{{ cdata.tcount.rd|default_if_none:0 }}</td>
                    <td>{{ cdata.tlcount|get_item:'interr rd'|default_if_none:0 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>Totals by tag:</p>
            <ul>
                {% for tlist, tco in tcount %}
                <li>{{ tlist }}. {{ tco }}</li>
                {% endfor %}
            </ul>
            <p>Totals by tag list:</p>
            <ul>
                {% for tlist, tco in tlcount %}
                <li>{{ tlist }}. {{ tco }}</li>
                {% endfor %}
            </ul>
            <p>Annotations:</p>
            <ul>
                {% for aid, anno in annod %}
                <li>{{ aid }}. {{ anno }}</li>
                {% endfor %}
            </ul>
            <p>Debugging:</p>
            <p>{{ debug }}</p>
           <script src="/static/js/bootstrap.min.js" />
x        </div>
    </body>
</html>