<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <title>My annotations</title>
</head><body>
    <div class="container">
        <h2>My annotations</h2>

        <p><a href="/reports/all_dislocations">Combined dislocation report</a></p>
        <p><a href="/reports/dislocations_by_char">Dislocations by character</a></p>
        <div id="saved" class="d-none text-success">Saved!</div>
        <table class="table" id="anno2table">
            <tbody style="height: 80%; overflow: auto;">
        {% for name, uri in pages %}
            <tr title="{{ name }}">
                <th>{{ name }}</th>
                <td>
                    <button type="button" class="btn btn-sm btn-success anno2button" uri="{{ uri }}">
                        Save
                    </button>
                </td>
                <td><a href="/store/search?uri={{ uri }}" target="_blank">
                    View JSON
                </a></td>
                <td><a href="/stage?uri={{ uri }}" target="_blank">
                    Annotated document
                </a></td>
                <td>
                    <a href="/reports/dislocations?uri={{ uri }}" target="_blank">
                        Dislocation report
                    </a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
<script src="/static/js/jquery.min.js"></script>
<!--script src="/static/js/bootstrap.min.js" / -->
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

hiddenSaved = function() {
    $("#saved").addClass("d-none");
};

$('#anno2table').on('click', 'button', function() {
    console.log("clicked!");
    console.info(this.getAttribute('uri'));
    aUri = this.getAttribute('uri');
    $.post( "/save/", {
        "uri": aUri
    })
    .done(function() {
        $("#saved").removeClass("d-none");
        window.setTimeout( hiddenSaved, 1000);
        })
        .fail(function(data, status, error){
           console.error(error);
        });
});
</script>
</body>
</html>